<html lang="en"></html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="email-container">
      <p>Hello Dr. <b>{{doctorName}}</b>,</p>
      <p>
        Hope you're having a great week! This is a friendly confirmation that you
        are all set for your upcoming consultation.
      </p>
      <p>Time : {{startTime}} - {{endTime}}</p>
      <a href={{startUrl}}>Meeting Link</a>
      <p>Meeting id : {{meetingId}}</p>
      <p>Password : {{password}}</p>
      <div>
      <p>From,</p>
      <p>Administration Team,</p>
      <p>Mobilab2u.com</p>
    </div>
    </div>
  </body>
</html>