<html lang="en"></html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>Dear <b>{{name}}</b></p>
      <p>
       {{text}}
      </p>
      <p>Time : {{sTime}} - {{eTime}}</p>
      <p>Date : {{date}}</p>
      <a href={{appURL}}>Approve</a>
    
      <div>
      <p>From,</p>
      <p>Administration Team,</p>
      <p>Mobilab2u.com</p>
    </div>
    </div>
  </body>
</html>